NEXT_PUBLIC_WEBAPP_LINK=jealous.dev
NEXT_PUBLIC_EMAIL=hello@jealous.dev
ADMIN_PASSWORD_HASH=hashed-password # check `check-admin-access.ts` file to see how it's decrypted.
NEXT_PUBLIC_RESUME_LINK=resume-drive-link